{% extends "base.html" %}

{% block title %}Password reset{% endblock %}
{% load static %}
{% block content %}

	<header class="header-wrapper index-page">
	
		<div class="minipage_header_container">
			<div class="minipage-panel">
				<div class="minipage-contents">
				<div class="msg-header">
					<h3>Contact Us Successful</h3>
				</div>
				<div class="msg-body">
                    
                        <h3>Thank You for contacting Codeblaze Academy , Check your email for our automatic reply </h3>
                        
                
				</div>
			</div>
			</div>
		</div>

</header>
	<main class="main-contents"></main>

<!-- division line -->
	<div class="division-line">
	</div>

{% endblock content %}