{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  
  <header class="header-wrapper index-page">
           <!-- division line -->
         <!-- <div class="division-line">
         </div>
   -->		<!-- header contents -->
      <div class="minipage_header_container">
        <div class="minipage-panel">
          <div class="minipage-contents">
          <div class="msg-header">
            <h3>Welcome {{ fullname }}!</h3>
  <p>
    Your account has been successfully created.
    
  </p>
            <h3>thank you for registering with codeblazeacademy </h3>
          </div>
          <div class="msg-body">
           <p>
            we have sent an email to the address that you used for registration 
              the message is from our support team:
            <span class="support-email">
            support@codeblazeacademy.net
            </span>
           </p>
  
           <p>
            <strong>Please use the link in the email message to verify your email address and fully activate your account </strong>
           </p>
           <small>
           Verifying your email address will give you accesss to your Dashboard
           <br>
           Thanks
          </small>
          </div>
        </div>
        </div>
      </div>
    </div>
  </header>
    <main class="main-contents"></main>
  
  <!-- division line -->
    <div class="division-line">
    </div>
{% endblock %}
