{% extends 'base.html' %}
{% load static %}
{% block content %}

	<header class="header-wrapper index-page">
	
		<div class="minipage_header_container">
			<div class="minipage-panel">
				<div class="minipage-contents">
				<div class="msg-header">
					<h3>change your password </h3>
				</div>
				<div class="msg-body">
          <h1>Forgotten your password?</h1>
          <p>Enter your e-mail address to obtain a new password.</p>
                 <form method="post">
                  {% for field in form %}
                    <div class="form-field">
                    <label for="newpassword">{{field.label_tag}}</label>
                    {{field}}
                    </div>
                   {% endfor %}
                  
                    <p><input type="submit" value="Send e-mail"></p>
                    {% csrf_token %}
                 </form>
				</div>
			</div>
			</div>
		</div>
	</div>
</header>
	<main class="main-contents"></main>

<!-- division line -->
	<div class="division-line">
	</div>

{% endblock content %}
