{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<header class="header-wrapper index-page">
	
  <div class="minipage_header_container">
    <div class="minipage-panel">
      <div class="minipage-contents">
      <div class="msg-header">
        <h1>Reset your password</h1>
      </div>
      
  
  {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
      {% for field in form %}
        <div class="form-field">
        <label for="newpassword">{{field.label_tag}}</label>
        {{field}}
        </div>
       {% endfor %}
      
        <p><input type="submit" value="Change Password"></p>
        {% csrf_token %}
     </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}


	
                 
				</div>
			</div>
			</div>
		</div>
	
</header>
	<main class="main-contents"></main>

<!-- division line -->
	<div class="division-line">
	</div>

{% endblock content %}

