{% extends 'base.html' %}
{% load static %}
{% block content %}

	<header class="header-wrapper index-page">
	
		<div class="minipage_header_container">
			<div class="minipage-panel">
				<div class="minipage-contents">
				<div class="msg-header">
			
				</div>
				<div class="msg-body">
          <h3>Email Confirmation Reset</h3>
  <p>We've emailed you instructions for setting your password.</p>
  <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
				</div>
			</div>
			</div>
		</div>
	</div>
</header>
	<main class="main-contents"></main>

<!-- division line -->
	<div class="division-line">
	</div>

{% endblock content %}