<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>change password</title>
	<link href="../font-awesome/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/index.css" rel="stylesheet">
</head>
<body>
	<header class="header-wrapper index-page">
	<div class="site-header">
		<div class="navigation-container main-nav">
		<div class="mobile-header-navicons">
		<div class="codeblaze-logo">
		<div class="image-container">
		<a href="../index.html"><img src="../images/codeblazeacademy-logo.png" alt="company logo">
		</a>
		</div></div>
		<div class="btn-container">
		<div class="bar-btn">&#9776;</div>
	    </div>
	    </div>
			<nav class="nav-wrapper">
				<ul class="nav-menu">
					<li><a href="../index.html">Home</a></li>
					<li><a href="../about.html">About</a></li>
					<li><a href="../services.html">Services</a></li>
					<li><a href="../courses.html">Courses</a></li>
					<li><a href="../project.html">Project</a></li>
                    <li><a href="../contactus.html">Contact Us</a></li>
                    <li><a href="../signup.html">Sign In</a></li>
				</ul>
			</nav>
		</div>

         <!-- division line -->
	     <!-- <div class="division-line">
	     </div>
 -->		<!-- header contents -->
		<div class="minipage_header_container">
			<div class="minipage-panel">
				<div class="minipage-contents">
				<div class="msg-header">
					<h3>change your password </h3>
				</div>
				<div class="msg-body">
				 <p>
                    Please enter your new password
                 </p>
                 <form>
                    <div class="form-field">
                    <label for="newpassword">New Password</label>
                    <input type="password" id="newpassword"/>
                    </div>
                    <div class="form-field">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" id="confirmpassword"/>
                    </div>
                    <div class="password-hint">
                        <ul>
                            <li>
                                Your password must contain at least 8 characters.
                            </li>
                            <li>
                                Your pasword can’t be entirely numeric.
                            </li>
                            <li>
                                Your password cannot be commonly used password 
                            </li>
                            <li>
                                Your password must contain at least one symbol.
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="cta-btn">Change</a>
                 </form>
				</div>
			</div>
			</div>
		</div>
	</div>
</header>
	<main class="main-contents"></main>

<!-- division line -->
	<div class="division-line">
	</div>

<footer class="site-footer">
	 <div class="footer-container">
	 	<h4 class="site-name">code <span class="red">blaze</span> academy</h4>
	 	<div class="footer-row">
	 		<div class="flex-items">
	 			<ul>
	 				<li><a href="../courses.html">Courses</a></li>
	 				<li><a href="../teacher.html">Teacher</a></li>
	 				<li><a href="../faq.html">FAQ</a></li>
	 				<li><a href="../forum.html">Forum</a></li>
	 				<li><a href="../services.html">Services</a></li>
	 			</ul>
	 		</div>
	 		<div class="flex-items">
	 			<ul>
	 				<li><a href="../about.html">About</a></li>
	 				<li><a href="../contactus.html">Contact Us</a></li>
	 				<li><a href="../project">Projects</a></li>
	 				<li><a href="../pricing.html">Pricing</a></li>
	 			</ul>
	 		</div>
	 		<div class="flex-items">
	 			<div class="social-icons">
	 				<ul>
	 					<li><a href="#" target="_blank"><span class="fa fa-facebook-square" aria-hidden="true"></span></a></li>

	 					<li><a href="#" target="_blank"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a></li>

                        <li><a href="#" target="_blank"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>
	 				</ul>
	 			</div>
	 			<div class="app-download">
	 			 <a href="#"><img src="../images/app-store.svg" alt="apple store"></a>
	 			</div>
	 			<div class="app-download">
	 			 <a href="#"><img src="../images/googleplay.png" alt="play store"></a>
	 			</div>
	 		</div>
	 		<div class="flex-items">
	 			<address>
	 				Ibagwa Road Umanu Junction <br>
	 				Opposite Knockoff Company <br>
	 				Nsukka
	 			</address>
	 			<p>Email: <a href="mailto:codeblazeacademy@gmail.com">codeblazeacademy@gmail.com</a>
	 			</p>
	 			<small class="copyright">&copy; <span id="updated-year"> </span> Powered Code Blaze Academy</small>
	 		</div>
	 	</div>
	 </div>
	</footer>
    <script src="../js/header.js"></script>
    <script>
    	const updateYear = document.getElementById("updated-year");
    	const date = new Date();
    	updateYear.innerText += date.getFullYear();

    </script>
</body>
</html>