<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta http-equiv="refresh" content="10"/> -->
	{% load static %}
	{% load custom_tags %}
	
	<title>settings</title>
	<link href="{% static './font-awesome/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static './css/index.css' %}" rel="stylesheet">
</head>
<body>
	<div class="dashboard-wrapper">
	<header class="header-wrapper dashboard">
	<div class="site-header">
		<div class="navigation-container main-nav dashboard-nav">
		<div class="mobile-header-navicons">
		<div class="asidebar-btn">
         <span class="fa fa-bars"></span>
		</div>
		<div class="codeblaze-logo">
		<div class="image-container">
		<a href="{% url 'index' %}">
		<img src="{% static './images/codeblazeacademy-logo.png' %}" alt="company logo">
		</a>
		</div></div>
		<div class="btn-container">
		<!-- <div><span class="fa fa-ellipsis-v"></span></div> -->
		<svg class="dashboard-bar-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512" width="10" height="35"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 360c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zm0-160c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zM120 96c0 30.9-25.1 56-56 56S8 126.9 8 96S33.1 40 64 40s56 25.1 56 56z"/></svg>
	    </div>
	    </div>
			<nav class="nav-wrapper">
				<ul class="nav-menu">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% anchor 'index' 'aboutus-section' %}">About</a></li>
					<li><a href="{% anchor 'index' 'service-section' %}">Services</a></li>
					<li><a href="{% anchor 'index' 'affordable-pkgs-section' %}">Courses</a></li>
					<li><a>Project</a></li>
                    <li><a href="{% anchor 'index' 'contactus-section' %}">Contact Us</a></li>
                    <li><a>user profile</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<div class="grid-container">
<aside class="aside-menu">
<section class="logo-img">
	<div class="img-container">
		<img src="{% static './images/aside-logo.svg' %}" alt="aside logo"/>
	</div>
</section>
<!-- <section class="profile-img">
	<div class="img-container">
		<img src="./images/user-image.svg" alt="profile image"/>
	</div>
</section> -->
<section class="aside-menu-links">
	<ul class="sidebar-contents">
		<li class="sidebar-row">
			<a class="active" href="{% url 'dashboardhome' %}">
				<div class="img-container">
					<img src="{% static './images/home-icon.svg' %}" alt="home icon"/>
				</div>
				<h3>Home</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="{% url 'dashboardhome' %}">
				<div class="img-container">
					<img src="{% static './images/dashboard-icon.svg' %}" alt="dashboard icon"/>
				</div>
				<h3>Dashboard</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="{% url 'courses:courselist' %}">
				<div class="img-container">
					<img src="{% static './images/courses-icon2.svg' %}" alt="courses icon"/>
				</div>
				<h3>Courses</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="#">
				<div class="img-container">
					<img src="{% static './images/video-icon.svg' %}" alt="videos icon"/>
				</div>
				<h3>Videos</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="#">
				<div class="img-container">
					<img src="{% static './images/calender-icon.svg' %}" alt="calender icon"/>
				</div>
				<h3>Calender</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="#">
				<div class="img-container">
					<img src="{% static './images/achievement-icon.svg' %}" alt="achievement icon"/>
				</div>
				<h3>Achievement</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="#">
				<div class="img-container">
					<img src="{% static './images/certificate-icon.svg' %}" alt="certification icon"/>
				</div>
				<h3>Certification</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="#">
				<div class="img-container">
					<img src="{% static './images/message-icon.svg' %}" alt="message icon"/>
				</div>
				<h3>Message</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="#">
				<div class="img-container">
					<img src="{% static './images/setting-icon.svg' %}" alt="setting icon"/>
				</div>
				<h3>Setting</h3>
			</a>
		</li>
		<li class="sidebar-row">
			<a href="{% url 'logout' %}">
				<div class="img-container">
					<!-- <img src="./images/dashboard-icon.svg" alt="dashboard icon"/> -->
				</div>
				<h3>Log Out</h3>
			</a>
		</li>
	</ul>
</section>
</aside>

<!-- close aside menu -->
<div class="close-side-menu"></div>

<main class="dashboard-main-contents user-settings">

<!--Description:edit profile and change password -->
<form method="POST" enctype="multipart/form-data" action="{% url 'settingsview' %}">
	{% csrf_token %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}

		<li class="{{ message.tags }}">
		{{ message|safe }}
	   
		<a href="{% url 'settingsview' %}" class="close">x</a>
		</li>
		{% endfor %}
		</ul>
{% endif %}
    <div class="form-container">
        <div class="flex-left">
        <h3>
            Edit Profile
        </h3>
		
        <fieldset>
            <div class="form-field">
                <label for="name">{{user_form.first_name.label_tag}}</label>
                {{user_form.first_name}}
            </div>
			<div class="form-field">
				<label for="">Last name</label>
				{{user_form.last_name}}
			</div>
            <div class="form-field">
                <label for="email">{{user_form.email.label_tag}}</label>
                {{request.user.email}}
            </div>
            <div class="form-field">
                <label for="address">{{profile_form.address.label_tag}}</label>
                {{profile_form.address}}
            </div>
            <div class="form-field">
                <label for="nationality">{{ user_form.country.label_tag }}</label>
                
                    {{ user_form.country }}
                </div>
            
            <div class="form-field">
                <label for="phone">{{ profile_form.phonenumber.label_tag }}</label>
                {{ profile_form.phonenumber }}
            </div>
			<div class="form-field">
                <label for="username">{{user_form.username.label_tag }}</label>
                {{user_form.username}}
            </div>
            <div class="form-field">
				
                <label for="dob">{{ profile_form.date_of_birth.label_tag }}</label>
                {{profile_form.date_of_birth}}
				
            </div>
			
        </fieldset>
        </div>
		<div class="flex-right">
            <!-- <div class="top">
            <h3>
                Change Password
            </h3>
            <fieldset>
                <div class="form-field">
                    <label for="currentpassword">current password</label>
                    {{user_form.password1}}
                </div>
                <div class="form-field">
                    <label for="newpassword">new password</label>
                    {{user_form.password1}}
                </div>
                <div class="form-field">
                    <label for="confirmpassword">confirm password</label>
                    {{user_form.password2}}
                </div> -->
            </fieldset>
            </div>

            <div class="bottom">
            <h3>
             Notifications
            </h3>
            <fieldset>
                <div class="form-field">
                    <label for="empty-text"></label>
                    <input type="text" id="email" />
                </div>
                <div class="form-field">
                    <label for="empty-text"></label>
                    <input type="text" id="email" />
                </div>
                <div class="form-field">
                    <label for="empty-text"></label>
                    <input type="text" id="email" />
                </div>
            </fieldset>
            </div>
        </div>
		<div class="flex-right">
            <div class="top">
				<label for="photo">{{profile_form.photo.label_tag}}</label>
				{{profile_form.photo}}
            </div>
			
    </div>
	
    <input class="cta-btn" type="submit" value="save changes">
</form>


</main>	
</div>


	<!-- division line -->
	<div class="division-line">
	</div>
	
	<footer class="site-footer">
		<div class="footer-container">
			<h4 class="site-name">code <span class="red">blaze</span> academy</h4>
			<div class="footer-row">
				<div class="flex-items">
					<ul>
						<li><a href="{% url 'register' %}">Courses</a></li>
						<li><a href="../teacher.html">Teacher</a></li>
						<li><a href="../faq.html">FAQ</a></li>
						<li><a href="../forum.html">Forum</a></li>
						<li><a href="{% anchor 'index' 'service-section' %}">Services</a></li>
					</ul>
				</div>
				<div class="flex-items">
					<ul>
						<li><a href="{% anchor 'index' 'aboutus-section' %}">About</a></li>
						<li><a href="{% anchor 'index' 'contactus-section' %}">Contact Us</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Pricing</a></li>
					</ul>
				</div>
				<div class="flex-items">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><span class="fa fa-facebook-square" aria-hidden="true"></span></a></li>
   
							<li><a href="#" target="_blank"><span class="fa fa-linkedin-square" aria-hidden="true"></span></a></li>
   
						   <li><a href="#" target="_blank"><span class="fa fa-twitter-square" aria-hidden="true"></span></a></li>
						</ul>
					</div>
					<div class="app-download">
					 <a href="#"><img src="{% static 'images/app-store.svg' %}" alt="apple store"></a>
					</div>
					<div class="app-download">
					   <a href="#"><img src="{% static 'images/googleplay.png' %}" alt="play store"></a>
					</div>
				</div>
				<div class="flex-items">
				   <address>
					   No 1 Umunkanka Street <br>
					   Close to University Secondary School <br>
					   UNN
					</address>
					<p>Email: <a href="mailto:codeblazeacademy@gmail.com">codeblazeacademy@gmail.com</a>
					</p>
					<small class="copyright">&copy; <span id="updated-year"> </span> Powered Code Blaze Academy</small>
				</div>
			</div>
		</div>
	   </footer>
	</div>
    <!-- <script src="./js/header.js"></script> -->
	<script>
		$(function () {
		  $("#datetimepicker1").datetimepicker({
			format: 'DD/MM/YYYY HH:mm',
		  });
		});
	  </script>
    <script src="{% static './js/dashboard.js' %}"></script>
    <script>
    	const updateYear = document.getElementById("updated-year");
    	const date = new Date();
    	updateYear.innerText += date.getFullYear();

    </script>
</body>
</html>